.thumb {
  &-title {
    height: 65px;
    overflow: hidden;
  }

  &-info {
    height: 30px;
  }

  &-item {
    .thumbnail {
      background-color: #efefef;

      &.media-fix-height {
        height: 310px;
      }

      &:hover {
        background: #aabde0;
      }
    }
  }
}

.media-files-header {
  margin-top: 10px;
}

.dropzone {
  padding: 10px;
  min-height: 100px;
}
