{% if allow_download_files %}
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Url: </label>
            <input type="text" class="form-control" id="download-file-input" size="60" placeholder="Add here file url to download in current directory">
        </div>
        <button type="button" id="download-file-btn" class="btn btn-default"><i id="download-file-icon" class="fa fa-download"></i> Download file</button>
        <button type="button" id="download-bulk-btn" class="btn btn-default"><i id="download-bulk-icon" class="fa fa-download"></i> Download bulk</button>
{#        <button type="button" id="paste-memory-btn" class="btn btn-default"><i id="paste-memory-icon" class="fa fa-microchip"></i> Paste from memory</button>#}
    </form>
    <div class="desp-10"></div>
{% endif %}
