{% extends '@FrameworkAdmin/components/listing.html.twig' %}

{% block section_title 'Media Files' %}

{% import '@FrameworkAdmin/macros/navigation-macros.html.twig' as navBtn %}
{% import '@FrameworkAdmin/macros/table-btn-macros.html.twig' as tbl %}

{% block box_header %}
    {{ navBtn.create(path('adm_media_create_dir', {path: path}), 'btn.create_directory') }}
{% endblock %}

{% block body %}

    {% if media_files_exists %}
        {% include '@MediaFiles/Default/download-file.html.twig' %}
        {% include '@MediaFiles/Default/upload-image.html.twig' %}
        {% if app.request.cookies.get('media_files_display') == 'grid' %}
            {% include '@MediaFiles/Default/upload-image-template-grid.html.twig' %}
        {% else %}
            {% include '@MediaFiles/Default/upload-image-template-table.html.twig' %}
        {% endif %}
        <div class="desp-10"></div>
        {% include '@MediaFiles/Default/modules/media-breadcrumb.html.twig' %}
        {% include '@MediaFiles/Default/modules/media-directories-listing.html.twig' %}
        {% include '@MediaFiles/Default/modules/media-files-listing-header.html.twig' %}
        {% if app.request.cookies.get('media_files_display') == 'grid' %}
            {% include '@MediaFiles/Default/modules/media-files-listing-grid.html.twig' %}
        {% else %}
            {% include '@MediaFiles/Default/modules/media-files-listing-table.html.twig' %}
        {% endif %}
    {% else %}
        {% include '@MediaFiles/Default/modules/media-files-directory-not-found.html.twig' %}
    {% endif %}

    {% include '@MediaFiles/Default/modules/media-modal-preview.html.twig' %}
{% endblock %}

{% block header_js %}
    {{ parent() }}
    <script>
const media_files = {
  rename: {
    title_error: '{{ 'media_files.title_error' | trans }}',
    text_error: "{{ 'media_files.text_error_invalid' | trans }}",
    title_success: "{{ 'media_files.title_success' | trans }}",
    text_success: "{{ 'media_files.text_success_renamed' | trans }}",
    text_error_invalid: "{{ 'media_files.text_error_invalid' | trans }}"
  },
  remove: {
    confirm_title: "{{ 'media_files.remove_confirm_title' | trans }}",
    confirm_text: "{{ 'media_files.remove_confirm_text' | trans }}"
  }
};
    </script>
{% endblock %}

{% block js %}
    <script>
        const mediaFilesUrl = '{{ media_files_url }}';
    </script>
    {{ parent() }}
    {% include '@MediaFiles/Default/upload-images-config-js.html.twig' %}
    {% include '@MediaFiles/Default/upload-images-js.html.twig' %}
{% endblock %}

