<div id="my-dropzone" class="dropzone" data-action="{{ path('media_upload', {path: path}) }}" data-path="{{ path }}" data-delete-path="{{ path('adm_media_delete') }}"></div>
<div class="clearfix"></div>
