<script type="html/template" id="thumb-tpl">
    <tr id="row-{id}" class="thumb-item">
        <td><img height="36" src="{media_url}" alt="{filename}"></td>
        <td>{filename}</td>
        <td class="text-right">Size: <strong>{image_size}</strong></td>
        <td class="text-right">
            <a href="{{ path('adm_media_download_file', {path: ''}) }}{relative_media_path}.{extension}" target="_blank" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Download file"><i class="fa fa-download"></i></a>
            <a href="#" data-id="{id}" data-filename="{filename}" class="media-remove btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Delete file from server"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
</script>
