<script type="html/template" id="thumb-tpl">
    <div class="col-sm-3 col-md-2 thumb-item" id="row-{id}">
        <div class="thumbnail media-fix-height">
            <img src="{media_url}" alt="{filename}">
            <div class="caption">
                <div class="thumb-title">
                    {filename}
                </div>
                <div class="thumb-info">
                    Size: <strong>{image_size}</strong>
                </div>
                <div class="thumb-btns text-right">
                    <a href="{{ path('adm_media_download_file', {path: ''}) }}{relative_media_path}.{extension}" target="_blank" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Download file"><i class="fa fa-download"></i></a>
                    <a href="#" data-id="{id}" data-filename="{filename}" class="media-remove btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Delete file from server"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</script>
