<script>
  'use strict';
  Dropzone.autoDiscover = false;

  $(document).ready(function () {

    let myDz = new Dropzone(dropzoneContainerId, {
      url: dropzoneUrl,
      maxFilesize: dropzoneFilesSize,
      maxFiles: dropzoneUploadMaxFiles,
      parallelUploads: dropzoneParallelUploads,
      autoProcessQueue: dropzoneAutoProcessQueue,
      dictDefaultMessage: "{{ 'dropzone.dictDefaultMessage' | trans }}",
      dictFallbackMessage: "{{ 'dropzone.dictFallbackMessage' | trans }}",
      dictFallbackText: "{{ 'dropzone.dictFallbackText' | trans }}",
      dictFileTooBig: "{{ 'dropzone.dictFileTooBig' | trans }}",
      dictInvalidFileType: "{{ 'dropzone.dictInvalidFileType' | trans }}",
      dictResponseError: "{{ 'dropzone.dictResponseError' | trans }}",
      dictCancelUpload: "{{ 'dropzone.dictCancelUpload' | trans }}",
      dictCancelUploadConfirmation: "{{ 'dropzone.dictCancelUploadConfirmation' | trans }}",
      dictRemoveFile: "{{ 'dropzone.dictRemoveFile' | trans }}",
      dictRemoveFileConfirmation: "{{ 'dropzone.dictRemoveFileConfirmation' | trans }}",
      dictMaxFilesExceeded: "{{ 'dropzone.dictMaxFilesExceeded' | trans }}"
    });

    myDz.on("success", function (file, response) {

      if (response.code === 200) {
        let template = $(dropzoneThumbnailId).html();

        $(dropzoneMediaFilesListingId).prepend(template.formatString(response));

        {# this code must be duplicated from vendor/kisphp/media-files-bundle/assets/js/media-files.js #}
        $(dropzoneMediaRemoveElement).click(window.mediaRemoveHandler);

        $('.get-code').click(function (e) {
          e.preventDefault();

          window.getMediaFileCode($(this));
        });

        $('#media-snippet-copy').click(function (e) {
          e.preventDefault();

          window.copyMediaFileSnippet();
        });
      }

      if (response.code !== 200) {
        swal("Error", response.message, "error");
      }

      file.previewElement.remove();
    });

    $('#paste-memory-btn').click(function (e) {
        e.preventDefault();

        console.log('paste from memory');

        var form = $('#memory-save-image');
        var fileInput = $('#memory-file');

        fileInput.addEventListener('change', () => {
            form.submit();
        });

        window.addEventListener('paste', e => {
            fileInput.files = e.clipboardData.files;
        });
    });
  });
</script>
