<div class="row">
    <div class="col-md-12">
        <h3>{% if directories | length > 1 %}({{ directories | length }}) {% endif %}Directories</h3>
        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <th>Name</th>
                <th style="text-align: right" width="80">Options</th>
            </tr>
            <tbody>
            {% for item in directories %}
                <tr id="row-{{ item.filename | md5 }}">
                    <td>
                        {% if item.type == 'dir' %}
                            <a href="{{ path('adm_media', {path: item.pathname | mediaSecurePath}) }}">{{ item.filename }}</a>
                        {% else %}
                            {{ item.filename }}
                        {% endif %}
                    </td>
                    <td align="right">
                        <a href="#" class="media-remove" data-id="{{ item.filename | md5 }}" data-filename="{{ item.filename }}"><i class="fa text-danger fa-trash"></i> Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
