<div class="row">
    <div id="media-files-listing">
        {% for item in files %}
            {% include '@MediaFiles/Default/modules/media-file-column-grid.html.twig' %}
        {% endfor %}
    </div>
</div>
