<div class="modal fade" id="media-url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Media url code snippet</h4>
            </div>
            <div class="modal-body">
                <textarea name="media-snippet" id="media-snippet" cols="91" rows="10" style="width: auto;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="media-snippet-copy">Copy content</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
