<div class="col-sm-3 col-md-2 thumb-item" id="row-{{ item.filename | md5 }}">
    <div class="thumbnail media-fix-height">
        {% if item.extension in allowed_images_extensions %}
        <a href="{{ media_thumbnail_big(item) }}" data-lightbox="page" data-title="{{ item.filename }}">
            <img src="{{ media_thumbnail(item) }}" alt="{{ item.filename }}" />
        </a>
        {% else %}
        <img src="{{ media_thumbnail(item) }}" alt="{{ item.filename }}" />
        {% endif %}
        <div class="caption">
            {% include '@MediaFiles/Default/modules/media-thumb-title.html.twig' %}
            {% include '@MediaFiles/Default/modules/media-thumb-info.html.twig' %}
            {% include '@MediaFiles/Default/modules/media-btns.html.twig' %}
        </div>
    </div>
</div>
