<div class="thumb-btns text-right">
    <a href="#" class="media-move btn btn-default btn-xs"
       data-path="{{ item.pathname | relativeMediaPath }}"
       data-url="{{ path('adm_media_move') }}"
       data-id="{{ item.filename | md5 }}"
       data-filename="{{ item.filename }}"
       data-targets="{{ targets_to_move | default('') }}"
       data-toggle="tooltip"
       data-placement="top"
       role="button"><i class="fa fa-arrows-alt"></i></a>
    <a href="#"
       class="media-rename btn btn-primary btn-xs"
       data-path="{{ item.pathname | relativeMediaPath }}"
       data-url="{{ path('adm_media_rename') }}"
       data-id="{{ item.filename | md5 }}"
       data-filename="{{ item.filename }}"
       data-toggle="tooltip"
       data-placement="top"
       role="button"
       title="Rename file"><i class="fa fa-edit"></i></a>
    <a href="{{ path('adm_media_download_file', {path: item.pathname | relativeMediaPath}) }}" target="_blank" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Download file"><i class="fa fa-download"></i></a>
    <a href="#" data-id="{{ item.filename | md5 }}" data-filename="{{ item.filename }}" class="media-remove btn btn-danger btn-xs" role="button" data-toggle="tooltip" data-placement="top" title="Delete file from server"><i class="fa fa-trash"></i></a>
</div>
