<div class="desp-10"></div>
<ol class="breadcrumb">
    <li><a href="{{ path('adm_media') }}">Root</a></li>
    {% for brd in breadcrumb %}
        {% if loop.last %}
            <li class="active">{{ brd.name }}</li>
        {% else %}
            <li><a href="{{ path('adm_media', {path: brd.path}) }}">{{ brd.name }}</a></li>
        {% endif %}
    {% endfor %}
</ol>
