<div class="row">
    <div class="col-sm-6">
        <h3 class="media-files-header">{% if files | length > 1 %}({{ files | length }}) {% endif %}Files</h3>
    </div>
    <div class="col-sm-6 text-right">
        <a href="#" id="confirm-suppress-link"> Suppress delete confirmation</a>
        <i id="confirm-suppress" class="fa fa-toggle-off text-default"></i>
        <br>
        Change view type:&nbsp;
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Display as grid" data-type="grid" data-url="{{ path('adm_media_type_view') }}" class="media-files-view-type"><i class="fa fa-th-large" aria-hidden="true"></i></a> &nbsp;
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Display as table" data-type="table" data-url="{{ path('adm_media_type_view') }}" class="media-files-view-type"><i class="fa fa-list" aria-hidden="true"></i></a>
    </div>
</div>
