<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th width="40">Preview</th>
            <th>Filename</th>
            <th width="150">Size</th>
            <th width="120">Actions</th>
        </tr>
    </thead>
    <tbody id="media-files-listing">
        {% for item in files %}
            <tr id="row-{{ item.filename | md5 }}" class="thumb-item">
                <td>
                    {% if item.extension in ['jpg', 'png', 'jpeg', 'gif'] %}
                    <a href="{{ media_thumbnail_big(item) }}" data-lightbox="page" data-title="{{ item.filename }}">
                        <img height="36" src="{{ media_thumbnail(item) }}" alt="{{ item.filename }}" />
                    </a>
                    {% else %}
                    <img height="36" src="{{ media_thumbnail(item) }}" alt="{{ item.filename }}" />
                    {% endif %}
                </td>
                <td class="thumb-title">{{ item.filename }}</td>
                <td class="text-right">Size: <strong>{{ item.size | fileSize }}</strong></td>
                <td>{% include '@MediaFiles/Default/modules/media-btns.html.twig' %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
